<a href="https://colab.research.google.com/github/souzagustavo96/Agenda-Laravel/blob/master/Notebooks/Tarefas/Tarefa_3_3_parte_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

---
## Tarefa 3.3 (parte II) - Análise Exploratória e Estatística Descritiva - Medidas estatísticas

Esta tarefa consiste analisar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias. 

---



---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo). 

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

#### a-) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [7]:
!git clone "https://github.com/malegopc/DSBD.git"

Cloning into 'DSBD'...
remote: Enumerating objects: 603, done.
remote: Counting objects: 100% (146/146), done.
remote: Compressing objects: 100% (86/86), done.
remote: Total 603 (delta 65), reused 133 (delta 57), pack-reused 457
Receiving objects: 100% (603/603), 12.97 MiB | 27.50 MiB/s, done.
Resolving deltas: 100% (273/273), done.

#### b-) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [73]:
import pandas as pd
df_hourly = pd.read_csv('DSBD/Datasets/Hourly_wages/hourly_wages.csv')
df_hourly

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

#### c-) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [38]:
df_hourly.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [60]:
len(df_hourly)

534

#### d-) Calcule a proporção de funcionários de sexo masculino e feminino.

In [77]:

Feminino = df_hourly['female'].value_counts()[0]
Masculino = df_hourly['female'].value_counts()[1]

total = df_hourly['female'].count()

print(total)

print("Feminino:", round(Feminino/total, 2),"%")
print("Masculino:", round(Masculino/total, 2),"%")

534
Feminino: 0.54 %
Masculino: 0.46 %

#### e-) Calcule a proporção de casados e solteiros.

#### f-) Calcule a proporção de funcionários filiados ao sindicato (union).

#### g-) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

####h-) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

####i-) Calcule o percentil 90 da variável idade.

####j-) Calcule o percentil 10 da variável anos de experiência.

####k-) Calcule o desvio-padrão de cada um dos atributos: anos de educação, anos de experiência e idade.

####l-) Determine qual dos três atributos apresenta maior variabilidade: anos de educação, anos de experiência ou idade? Justifique a sua resposta.

####m-) Leia o conjunto de dados [Atlas_Brasil_2014.csv](https://github.com/malegopc/DSBD/blob/main/Datasets/Atlas/Atlas_Brasil_2014.csv) e determine dentre as duas variáveis: T_ANALF25M (Taxa de analfabetismo - 25 anos ou mais) ou RDPC (Renda per capita média), qual apresenta maior variabilidade. Justifique a sua resposta.